/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  justify-items: center;
  font-family: var(--main-text-family), sans-serif;
  background-image: var(--background-gradient);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: "wght" var(--main-text-weight);
}

.section {
  width: var(--section-width);
  border: solid 2px var(--accent-color);
  background-color: var(--main-color);
}

@media (with <= 375px) {
  .section {
    width: 100%;
  }
}

.header {
  margin-top: 102px;
  margin-bottom: 102px;
  padding-top: clamp(7.5rem, 7.324rem + 0.75vw, 8rem);
  padding-bottom: clamp(7.5rem, 7.324rem + 0.75vw, 8rem);
  text-align: center;
  text-transform: uppercase;
}

.header h1 {
  margin-bottom: 20px;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header h2 {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.card {
  margin-bottom: 50px;
  font-family: var(--accent-text-family), serif;
  font-size: 18px;
}

.card-heading {
  margin: 3px auto 3px 10px;
  font-size: 18px;
  font-variation-settings: "wght" var(--heading-text-weight);
}

.card-image-container {
  width: 100%;
  height: 100%;
  border-top: 2px solid var(--accent-color);
  border-bottom: 2px solid var(--accent-color);
  aspect-ratio: 1 / 1;
}

.card-image {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 1 / 1;
}

.sprint-2-start .card-image {
  object-position: 76%;
}

.sprint-3-end .card-image {
  object-position: 60%;
}

.card-image-container {
  position: relative;
}

.label {
  position: absolute;
  top: 25px;
  right: 25px;
  z-index: 1;
  opacity: 50%;
  font-family: var(--main-text-family), sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  text-shadow: 1px 1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
    -1px -1px 0 #fff;
  mix-blend-mode: hard-light;
  -webkit-text-stroke: 1px var(--main-color);
}

@media (width <= 375px) {
  .label {
    right: 13px;
  }
}

@supports ((text-stroke: 1px #fff) or (-webkit-text-stroke: 1px #fff)) {
  .label {
    text-shadow: none;
    -webkit-text-stroke: 1px #fff;
    text-stroke: 1px #fff;
  }
}

.pale {
  filter: sepia(50%);
}

.bright {
  filter: saturate(150%);
}

.dull {
  object-position: 75%;
  filter: saturate(70%);
}

.inverted-color {
  filter: hue-rotate(90deg);
}

.pale .card-image {
  filter: sepia(50%);
}

.blur {
  filter: blur(4px);
}

.blur-inverted-color {
  filter: blur(1.5px) hue-rotate(320deg);
}

.card-text {
  margin: 25px;
  line-height: 21px;
}

.card-text .backstory {
  margin-bottom: 27px;
}

.button {
  position: relative;
  display: flex;
  border: 2px solid var(--accent-color);
  padding: 0;
  overflow-x: hidden;
  font-family: var(--main-text-family), sans-serif;
  font-weight: 400;
  font-size: 14px;
  background-color: var(--main-color);
  transition: box-shadow 0.3s ease;
  cursor: pointer;
}

.button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  transition: transform 0.5s ease-in-out;
  transform: translateX(-180%);
}

.button:hover::after {
  transform: translateX(0);
}

.button:focus-visible {
  box-shadow: 2px 2px 0 var(--accent-color);
  outline: none;
}

.card-button {
  display: grid;
  grid-template-columns: 39px 130px;
  justify-content: end;
  align-items: center;
  gap: 6px;
  margin: 0 25px 25px auto;
}

.card__icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 39px;
  height: 38px;
  border: none;
  padding: 0;
  background-color: transparent;
  transition: border 0.05s;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--accent-color);
}

.like-icon {
  width: 35px;
  height: auto;
}

.contour {
  transition: fill 0.1s linear;
}

.main-body {
  fill: var(--main-color);
  transition: fill 0.3s linear 0s;
}

.core {
  fill: var(--main-color);
  transition: fill 0.3s linear 0.03s;
}

.sparks {
  opacity: 0;
}

.like-icon:hover {
  cursor: pointer;
}

.card__icon-button:focus {
  outline: none;
}

.card__like-button {
  width: 130px;
  height: 38px;
}

.card__like-button:focus-visible {
  box-shadow: 2px 2px 0 var(--accent-color);
}

.button__text {
  position: relative;
  z-index: 1;
  margin: auto;
  color: var(--main-color);
  mix-blend-mode: difference;
}

.save-button {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: auto;
  margin-bottom: 100px;
  padding: 15px 21px 15px 19px;
  font-size: 14px;
  text-align: center;
}

@media (width <= 375px) {
  .save-button {
    display: grid;
    justify-items: center;
    align-items: start;
    align-content: center;
    gap: 8px;
  }
}

.save-icon {
  position: relative;
  z-index: 1;
  max-width: 21px;
  height: auto;
  fill: var(--main-color);
  mix-blend-mode: difference;
}

@media (width <= 375px) {
  .save-button .save-icon {
    max-width: 28px;
  }
}

.save-popup {
  position: fixed;
  inset: 0;
  border: none;
  padding: 0;
  outline: var(--accent-color) 2px solid;
  background-color: var(--main-color);
  inline-size: clamp(21.313rem, 21.048rem + 1.13vw, 22.063rem);
}

.save-popup[open]::backdrop {
  backdrop-filter: brightness(0.28);
  pointer-events: none;
}

body:has(.save-popup[open]) {
  overflow: hidden;
}

.save-popup-content {
  display: grid;
  grid-template-rows: 63px 38px;
  gap: 30px;
  margin: 30px;
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
}

@media (width<=375px) {
  .save-popup-content {
    margin-right: 42px;
    margin-left: 42px;
  }
  .save-popup-text {
    min-width: 198px;
  }
}

.save-popup-descrption {
  display: grid;
  grid-template-columns: 39px 1fr;
  gap: 20px;
  max-width: 293px;
  margin-bottom: 30px;
}

.save-popup-descrption .save-icon {
  min-width: 100%;
  margin: auto;
  aspect-ratio: 1/1;
}
