/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --main-text-family: PressStart2P;
  --accent-text-family: Inter;
  --main-text-weight: 400;
  --heading-text-weight: 700;
  --section-width: clamp(23.438rem, 16.285rem + 30.52vw, 43.75rem);
  --accent-color: #000;
  --main-color: #fff;
  --contour-color: #000;
  --animation-fill-color: #FF0000;
  --background-gradient: repeating-linear-gradient(to right,
  #d3d3d3 0px 2px,
  transparent 2px 4px),
  repeating-linear-gradient(to top,
  #d3d3d3 0px 2px,
  transparent 2px 4px),
  linear-gradient(to bottom,
  #e7e7e7,
  #1a1a1a );
}